################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ner-number-generator/obj
/.vs/ner-number-generator/v15/Server/sqlite3
/ner-number-generator.sln.CodeItRight.xml
/.vscode